.container {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: black;
    box-sizing: border-box;
    overflow: hidden;

    .containerSpinner {
        margin-left: 50%;
        margin-top: 45vh;
        width: fit-content;
        height: fit-content;
        transform: translate(-50%);

        .spinner {
            color: white;
        }
    }

    .containerClose {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: white;
        cursor:pointer;
    }
}