<some-element
  class="containerNavbar blackColor"
  (window:scroll)="doSomethingOnWindowScroll($event)"
  [ngClass]="{ transparentColor: !scrollPosition }"
>
  <div class="containerSidebarIcon">
    <div mat-button [matMenuTriggerFor]="sidebar">
      <mat-icon
        class="iconMenu"
        aria-hidden="false"
        aria-label="icon menu"
        fontIcon="dehaze"
      ></mat-icon>
    </div>
    <div class="icon"></div>
  </div>

  <mat-menu
    class="containerListNavbarr"
    #sidebar="matMenu"
    hasBackdrop="true"
    overlapTrigger="true"
    yPosition="above"
  >
    <app-list-navbar class="containerListNavbarr"></app-list-navbar>
  </mat-menu>
<div class="containerButtIn">
  <mat-icon
    class="iconSearch"
    aria-hidden="false"
    aria-label="icon search"
    fontIcon="search"
    (click)="fnInputState()"
  ></mat-icon>

  <some-element class="containerInput" [ngClass]="{ inputShow: inputState }">
    <input 
    [formControl]="search"
    class="input"
    />
  </some-element>
</div>
  
</some-element>
