/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane {
    left: 0 !important;
}

.cdk-overlay-connected-position-bounding-box {
    left: 0;
    top: 0;
}

.mat-mdc-menu-panel.mdc-menu-surface {
    min-width: max-content !important;
    max-width: max-content !important;
    height: max-content;
    max-height: max-content;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.mat-mdc-menu-content {
    padding: 0 !important;
    margin: 0 !important;
}
.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
   
    stroke: red !important;
}