<div class="containerListNavbar">
  <div class="user">
    <div class="userIcon"></div>
    <div class="name">Ale Jonatan</div>
  </div>
  <div class="scrollbox scrollbox_delayed">
    <div class="scrollbox-content">
      <ng-container *ngFor="let gender of genders">
        <ng-container *ngIf="gender == selected; else notSelected">
          <div class="containerGender" (click)="fnSelected(gender)">
            <span class="gender selected">{{ gender }}</span>
          </div>
        </ng-container>
        <ng-template #notSelected>
          <div class="containerGender" (click)="fnSelected(gender)">
            <span class="gender">{{ gender }}</span>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
