<div class="containerListNavbar">
  <div class="user">
    <div class="userIcon"></div>
    <div class="name">Ale Jonatan</div>
  </div>
  <div class="scrollbox scrollbox_delayed">
    <div class="scrollbox-content">
      <ng-container *ngFor="let genre of genres">
        <ng-container *ngIf="genre == selected; else notSelected">
          <div class="containerGenre" (click)="fnSelected(genre)">
            <span class="genre selected">{{ genre.name }}</span>
          </div>
        </ng-container>
        <ng-template #notSelected>
          <div class="containerGenre" (click)="fnSelected(genre)">
            <span class="genre">{{ genre.name }}</span>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
